.bg-img {
    background-image: url('https://img.freepik.com/premium-vector/calm-surface-seascape-with-sky_317810-4616.jpg?w=360');
    background-repeat: no-repeat;
    height: 1000px;
}
.bg-heading {
    width:100%;
}